<script>var __sfdcSessionId = '{!GETSESSIONID()}';</script>
<script src="/soap/ajax/21.0/connection.js"></script> 

<script> 
try {

var resultArray = sforce.connection.query("select user.contact.account.type, user.contact.account.Oracle_Operating_Unit__c, user.contact.account.Oracle_Account_Number__c, user.country from user where id = '{!$User.Id}'").getArray("records"); 

var country = null;
var account = null;
var tier = null;

var userObj = resultArray[0];

if (userObj.Contact != null) { 
tier = userObj.Contact.Account.Type; 
account = userObj.Contact.Account.Oracle_Account_Number__c; 
country = userObj.Contact.Account.Oracle_Operating_Unit__c; 
} 
else { 
account = 'SUNPOWER'; 
country = userObj.Country; 
} 
// if ('{!$User.Id}' == '005800000020Y7D')
// alert('Before tracking');

parent._gaq.push(['_setCustomVar',1,"Account",account,2]);
parent._gaq.push(['_setCustomVar',2,"Country",country,2]);
parent._gaq.push(['_setCustomVar',3,"Tier",tier,2]);
parent._gaq.push(['_trackPageview']);

// if ('{!$User.Id}' == '005800000020Y7D')
// alert('Tracked!');


}
catch(e) {
if ('{!$User.Id}' == '005800000020Y7D')
alert("Error" + e)
}
</script>