<html>
<head>

<script>
 function redirect () { 
     alert(window.parent.location.href);
     window.parent.location.href="https://c.cs3.visual.force.com/apex/ContentLibrary";
 }
</script>
</head>
<body onload="redirect();">
</body>
</html>