<script>
try{
 divTags = parent.document.getElementsByTagName('DIV');
 if(divTags != null &&  divTags.length > 0){
 for(var i =0; i<divTags.length; i++){
  if(divTags[i].className == 'ptBreadcrumb'){
         divTags[i].innerHTML = "«&nbsp;<a href = ' /{!Price_List__c.Id}' >Back To List : {!Price_List_Item__c.Price_List__c}</a>";
  }
 }
}
}catch(e){}
</script>