<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>true</allowMembersToFlag>
    <branding>
        <loginFooterText>SunPower.com</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/SunPower_Logo_Community_LoginPage_png.png</loginLogo>
        <pageFooter>Community_Documents/Community_Footer.html</pageFooter>
        <pageHeader>Community_Documents/Community_Logo.png</pageHeader>
        <primaryColor>#5496CC</primaryColor>
        <primaryComplementColor>#222222</primaryComplementColor>
        <quaternaryColor>#FFFFFF</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#5496CC</secondaryColor>
        <tertiaryColor>#C1C1C1</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#FFFFFF</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/Password_Reset_Email_Forgot_Password_Email</changePasswordTemplate>
    <emailSenderAddress>partnerportal@sunpower.com</emailSenderAddress>
    <emailSenderName>SunPower Partner Portal</emailSenderName>
    <enableGuestChatter>true</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>true</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <forgotPasswordTemplate>unfiled$public/Password_Reset_Email_Forgot_Password_Email</forgotPasswordTemplate>
    <logoutUrl>https://www.sunpowerpartnerconnect.com</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>Partner_Community_Global</permissionSet>
        <profile>admin</profile>
        <profile>partner tps - ip</profile>
        <profile>partner tps</profile>
        <profile>partner operations</profile>
        <profile>partner sse installer</profile>
        <profile>partner delegated administrator</profile>
        <profile>partner technical</profile>
        <profile>partner sales</profile>
        <profile>partner executive</profile>
        <profile>partner tps - drip</profile>
        <profile>eu residential installer</profile>
        <profile>eu partner delegated administrator</profile>
        <profile>eu partner executive</profile>
        <profile>eu partner technical</profile>
        <profile>eu partner operations</profile>
        <profile>eu partner restricted</profile>
        <profile>eu partner sales</profile>
        <profile>partner sse installer nh</profile>
        <profile>partner restricted</profile>
        <profile>partner sales nh</profile>
        <profile>partner tps executive</profile>
    </networkMemberGroups>
    <picassoSite>SPWRPartner_Community_C</picassoSite>
    <reputationLevels>
        <level>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>151.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>401.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>801.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>1501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>2501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>4001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>6001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>10001.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>5</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>SPWRPartner_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>CHome</customTab>
        <customTab>Design_Tools</customTab>
        <customTab>Orders</customTab>
        <customTab>Warranty_Registration__c</customTab>
        <customTab>Warranty_Registration</customTab>
        <defaultTab>01r340000004dsw</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>ContentSearch</standardTab>
    </tabs>
    <welcomeTemplate>unfiled$public/New_community_user_activation_email</welcomeTemplate>
</Network>
